header {
    background: url(../images/header-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    height: 324px;
    position: relative;
    z-index: 1;
}
.logo-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding: 30px 90px 0 140px;
}
.logo a {
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
.nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.nav ul li {
    margin: 0 50px 0 0;
}
.nav ul li a {
    color: white;
    font-size: 12px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    position: relative;
}
.about-us {
    margin: 95px 0 0 140px;
}
.about-us h1 {
    line-height: 56px;
    color: white;
    font-size: 42px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
}
.about-us ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.about-us ul li {
    margin: 15px 30px 0 0;
}
.about-us li:nth-child(1)::after {
    content: "";
    background: white;
    height: 14px;
    width: 2px;
    margin: 0 10px 0 15px;
    position: absolute;
  }
.about-us ul li a {
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    position: relative;
}
.forms {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    height: auto;
}
.forms label {
    display: flex;
}
.forms input {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.textarea {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    height: auto;
}
.textarea textarea {
    display: flex;
    width: 100%;
    height: 190px;
    resize: vertical;
    margin-top: 24px;
}
section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 90px 140px 0 140px;
}
.block1 {
    max-width: 444px;
    width: 100%;
}
.block1 h6 {
    color: #5863f8;
    font-size: 14px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
.block1 h3 {
    color: black;
    font-size: 42px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    line-height: 56px;
}
.lorem1 {
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin: 10px 0 10px 0;
    text-align: justify;
}
.lorem2 {
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    text-align: justify;
}
.block1 button {
    margin: 20px 0 0 0;
    width: 184px;
    height: 50px;
    background: #5863f8;
    color:white;
    border: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}
.block2-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 15px 0;
}
footer {
    background: url(../images/section-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    margin: 90px 0px 0px;
}
.footer-text {
    margin: 0 0 0 140px;
    padding: 130px 0 0 0;
}
.footer-text h6 {
    color: #5863f8;
    font-size: 14px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
.footer-text h3 {
    color: white;
    font-size: 42px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    line-height: 56px;
}
.boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 35px 140px 0 140px;
}
.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 260px;
    height: 260px;
    margin: 0 0 20px 0;
    background: white;
}
.hotel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background: #5863f8;
    border-radius: 50%;
    padding: 13px;
    margin: 27px 0 15px 0;
}
.suggest {
    margin: 0 0 20px 0;
    max-width: 180px;
    width: 100%;
    color: black;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-align: center;
    line-height: 27px;
}
.box p {
    color: #b1b1b1;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    width: 221px;
    height: 62px;
}
.nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin:left;
        -ms-transform-origin:left;
            transform-origin:left;
    -webkit-transition:-webkit-transform 250ms ease-in;
    transition:-webkit-transform 250ms ease-in;
    -o-transition:transform 250ms ease-in;
    transition:transform 250ms ease-in;
    transition:transform 250ms ease-in, -webkit-transform 250ms ease-in;
}
.nav ul li a:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}
.about-us ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin:left;
        -ms-transform-origin:left;
            transform-origin:left;
    -webkit-transition:-webkit-transform 250ms ease-in;
    transition:-webkit-transform 250ms ease-in;
    -o-transition:transform 250ms ease-in;
    transition:transform 250ms ease-in;
    transition:transform 250ms ease-in, -webkit-transform 250ms ease-in; 
}
.about-us ul li a:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}